ISM6562.002S23

Team: APEX

Team mebers: Aswith Reddy Kovvuri, Muralidhar Reddy Reddem, Sindhura Alla

##### About the Dataset:

We have chosen one of the most happening cities, New York, for our analysis. The dataset includes 32,500 properties  which are listed in the Airbnb website.

Listings, including full descriptions,Host details,Availabilty,Beds ,Bathroom count,Property type, review scores, Reviews, including unique id for each listing the price and availability for that day,

About the Source:
Airbnb, Inc is an American company that operates an online marketplace for lodging, primarily homestays for vacation rentals, and tourism activities. Based in San Francisco, California, the platform is accessible via website and mobile app. Airbnb does not own any of the listed properties; instead, it profits by receiving commission from each booking. The company was founded in 2008. Airbnb is a shortened version of its original name, AirBedandBreakfast.com.
Inside Airbnb is a mission driven project that provides data and advocacy about Airbnb's impact on residential communities, where data and information empower communities to understand, decide and control the role of renting residential homes to tourists.

Collaborators
Inside Airbnb relies on the kind contribution of a variety of collaborators and partners.
* Murray Cox.,
* Taylor Higgins. 
* Alice Corona.
* Luca Lamonaca. 
* Michael "Ziggy" Mintz. 

Technology
The site uses the following Open Source technologies:- 
D3, Bootstrap, Python, PostgreSQL and Google Fonts.
Maps are designed in Mapbox with OpenStreetMap data and hosted via Mapbox.
The site is served by an Amazon S3 "bucket".

##### Importing the Required poackages

In [1]:
import pandas as pd

##### Reading the data directly from the source

In [2]:
data_df = pd.read_csv('http://data.insideairbnb.com/united-states/ny/new-york-city/2023-03-06/data/listings.csv.gz', low_memory=False)
data_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,801749842377802394,https://www.airbnb.com/rooms/801749842377802394,20230306014634,2023-03-06,city scrape,A home away from home,The whole group will be comfortable in this sp...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,495455523,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
1,765948794133787266,https://www.airbnb.com/rooms/765948794133787266,20230306014634,2023-03-06,city scrape,Brooklyn Refuge,Take a break and unwind at this peaceful oasis.,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,488760226,...,4.92,4.85,4.92,NaN,t,2,1,1,0,4.29
2,636274456676328779,https://www.airbnb.com/rooms/636274456676328779,20230306014634,2023-03-06,city scrape,Villa Masino.,Close to beach Peaceful walk to park & beach...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,461263600,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
3,768125251187660469,https://www.airbnb.com/rooms/768125251187660469,20230306014634,2023-03-06,city scrape,1-Bedroom Private Room with King Size Bed,Private room with king size bedroom near Sheep...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,475699129,...,5.00,5.00,5.00,NaN,t,7,0,7,0,5.17
4,49248255,https://www.airbnb.com/rooms/49248255,20230306014634,2023-03-06,city scrape,Get the best of both worlds in Riverdale!,Welcome to the greatest location if you desire...,You will find within walking distance the Metr...,https://a0.muscache.com/pictures/e8e13cf7-44e9...,397288055,...,4.88,4.72,4.64,NaN,f,1,1,0,0,1.11

#### Removing redundant columns:

In [3]:

cols_to_delete = ['listing_url', 'scrape_id', 'last_scraped', 'source', 'neighborhood_overview', 'host_location', 
                  'host_about', 'picture_url','host_url','host_since','host_thumbnail_url', 'host_picture_url', 
                  'host_neighbourhood', 'host_listings_count', 'host_verifications', 'host_has_profile_pic', 
                  'neighbourhood', 'latitude', 'longitude', 'bathrooms', 'amenities', 'minimum_minimum_nights',
                  'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
                  'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'calendar_last_scraped', 
                  'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'license', 
                  'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 
                  'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 
                  'host_response_time', 'host_response_rate', 'host_acceptance_rate']

In [4]:
data_df = data_df.drop(cols_to_delete, axis=1)
data_df.head()

,id,name,description,host_id,host_name,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,801749842377802394,A home away from home,The whole group will be comfortable in this sp...,495455523,Michael,f,1.0,f,Canarsie,Brooklyn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN
1,765948794133787266,Brooklyn Refuge,Take a break and unwind at this peaceful oasis.,488760226,Eric,f,5.0,t,Canarsie,Brooklyn,...,13,4.85,4.77,4.77,4.85,4.92,4.85,4.92,t,4.29
2,636274456676328779,Villa Masino.,Close to beach Peaceful walk to park & beach...,461263600,Tommaso,f,1.0,f,Tottenville,Staten Island,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN
3,768125251187660469,1-Bedroom Private Room with King Size Bed,Private room with king size bedroom near Sheep...,475699129,Suliman,t,7.0,t,Sheepshead Bay,Brooklyn,...,15,5.00,5.00,4.87,5.00,5.00,5.00,5.00,t,5.17
4,49248255,Get the best of both worlds in Riverdale!,Welcome to the greatest location if you desire...,397288055,Katherine,f,2.0,t,North Riverdale,Bronx,...,25,4.48,4.56,4.44,4.72,4.88,4.72,4.64,f,1.11

#### Renaming the columns

In [5]:

print(data_df.columns)
data_df = data_df.rename(columns={'neighbourhood_cleansed': 'neighbourhood', 
                                  'neighbourhood_group_cleansed': 'neighbourhood_group',
                                  'bathrooms_text': 'bathrooms'})
print(data_df.columns)
data_df.head()

Index(['id', 'name', 'description', 'host_id', 'host_name',
       'host_is_superhost', 'host_total_listings_count',
       'host_identity_verified', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'property_type', 'room_type',
       'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'reviews_per_month'],
      dtype='object')
Index(['id', 'name', 'description', 'host_id', 'host_name',
       'host_is_superhost', 'host_total_listings_count',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_group',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'price', 'minimum_nights', 'maximum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'reviews_per_month'],
      dtype='object')

,id,name,description,host_id,host_name,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood,neighbourhood_group,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,801749842377802394,A home away from home,The whole group will be comfortable in this sp...,495455523,Michael,f,1.0,f,Canarsie,Brooklyn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN
1,765948794133787266,Brooklyn Refuge,Take a break and unwind at this peaceful oasis.,488760226,Eric,f,5.0,t,Canarsie,Brooklyn,...,13,4.85,4.77,4.77,4.85,4.92,4.85,4.92,t,4.29
2,636274456676328779,Villa Masino.,Close to beach Peaceful walk to park & beach...,461263600,Tommaso,f,1.0,f,Tottenville,Staten Island,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN
3,768125251187660469,1-Bedroom Private Room with King Size Bed,Private room with king size bedroom near Sheep...,475699129,Suliman,t,7.0,t,Sheepshead Bay,Brooklyn,...,15,5.00,5.00,4.87,5.00,5.00,5.00,5.00,t,5.17
4,49248255,Get the best of both worlds in Riverdale!,Welcome to the greatest location if you desire...,397288055,Katherine,f,2.0,t,North Riverdale,Bronx,...,25,4.48,4.56,4.44,4.72,4.88,4.72,4.64,f,1.11

#### Cleaning and reformating thd data

In [6]:

# Removing rows with null ratings as ratings are important factor for price
data_df = data_df[~data_df['review_scores_rating'].isna()]
# Other review columns that are null can be reasonably assumed to have same rating as review_scores_rating
for rating_col in ['review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value']:
    idx = data_df[rating_col].isna()
    data_df.loc[idx, rating_col] = data_df.loc[idx, 'review_scores_rating']

In [7]:
# Handling beds and bedrooms nan values
# Handling cases where there are number of beds but not bedrooms
idx = (data_df['bedrooms'].isna() & ~data_df['beds'].isna())
print(data_df.loc[idx, 'beds'].unique())
# Assuming 1 bedroom beds 2 people, use beds to determine number of bedrooms
data_df.loc[idx, 'bedrooms'] = data_df.loc[idx, 'beds'] / 2
# Using same assumption, fill na values in beds if there are bedrooms
idx = (~data_df['bedrooms'].isna()) & (data_df['beds'].isna())
data_df.loc[idx, 'beds'] = data_df.loc[idx, 'bedrooms'] * 2
# Finally removing rows that have no beds or bedrooms
data_df = data_df.dropna(subset=['beds', 'bedrooms'], axis=0)

[1. 2. 3. 6. 4.]

In [8]:
# Replacing f, t in boolean columns to 0, 1
bool_cols = ['host_is_superhost', 'host_identity_verified', 'has_availability', 'instant_bookable']
for bool_col in bool_cols:
    data_df[bool_col] = data_df[bool_col].fillna('f')
    data_df[bool_col] = data_df[bool_col].map({'f': 0, 't': 1})

In [9]:
# Removing rows that have 0 price as it's erroneous to have zero price for a listing
# Converting string to float column
data_df['price'] = data_df['price'].str.replace('$', '').str.replace(',', '').astype('float')
data_df = data_df[data_df['price'] > 1]

C:\Users\rmura\AppData\Local\Temp\ipykernel_12016\828959481.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_df['price'] = data_df['price'].str.replace('$', '').str.replace(',', '').astype('float')

In [10]:
# Replacing nan in str columns to Unknown
str_cols = ['name', 'description', 'host_name', 'bathrooms']
for str_col in str_cols:
    data_df[str_col] = data_df[str_col].fillna('Unknown')

In [11]:
# # Approx 3 rows with nan for host_total_listings_count, reasonable to replace with 1
data_df['host_total_listings_count'] = data_df['host_total_listings_count'].fillna(1)

In [12]:
data_df['price'].head()

1     30.0
3     89.0
4    125.0
5     63.0
7    118.0
Name: price, dtype: float64

In [13]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32504 entries, 1 to 42930
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           32504 non-null  int64
 1   name                         32504 non-null  object
 2   description                  32504 non-null  object
 3   host_id                      32504 non-null  int64
 4   host_name                    32504 non-null  object
 5   host_is_superhost            32504 non-null  int64
 6   host_total_listings_count    32504 non-null  float64
 7   host_identity_verified       32504 non-null  int64
 8   neighbourhood                32504 non-null  object
 9   neighbourhood_group          32504 non-null  object
 10  property_type                32504 non-null  object
 11  room_type                    32504 non-null  object
 12  accommodates                 32504 non-null  int64
 13  bathrooms                    32504 non-null  object
 14  bedrooms                     32504 non-null  float64
 15  beds                         32504 non-null  float64
 16  price                        32504 non-null  float64
 17  minimum_nights               32504 non-null  int64
 18  maximum_nights               32504 non-null  int64
 19  has_availability             32504 non-null  int64
 20  availability_30              32504 non-null  int64
 21  availability_60              32504 non-null  int64
 22  availability_90              32504 non-null  int64
 23  availability_365             32504 non-null  int64
 24  number_of_reviews            32504 non-null  int64
 25  review_scores_rating         32504 non-null  float64
 26  review_scores_accuracy       32504 non-null  float64
 27  review_scores_cleanliness    32504 non-null  float64
 28  review_scores_checkin        32504 non-null  float64
 29  review_scores_communication  32504 non-null  float64
 30  review_scores_location       32504 non-null  float64
 31  review_scores_value          32504 non-null  float64
 32  instant_bookable             32504 non-null  int64
 33  reviews_per_month            32504 non-null  float64
dtypes: float64(12), int64(14), object(8)
memory usage: 8.7+ MB

import required pyspark and findspark related

In [14]:
import findspark
from pyspark.sql import SparkSession;
import pandas as pd
findspark.init()

##### Create spark session with required ports

In [15]:
spark = SparkSession.builder.master("local[4]").appName("ISM6562 Spark App01").enableHiveSupport().getOrCreate();
spark_session_port = spark.sparkContext.uiWebUrl.split(":")[-1]
print("Spark Session WebUI Port: " + spark_session_port)

Spark Session WebUI Port: 4040

##### craete sprak content while allow python to perfom operaton in spark

In [16]:
sc=spark.sparkContext

##### Setting only log error in spark log set

In [17]:
sc.setLogLevel("ERROR")

# read data using pandas & pass pandas data frame to spark

In [18]:
# airbnb_df = pd.read_csv('Airbnb2.csv')
# airbnb_df.head()

In [19]:
# #airbnb_df_spark = spark.createDataFrame(airbnb_df,  )
# airbnb_df_spark = spark.read.csv("airbnb2.csv",header= True)
# airbnb_df_spark.show()

##### import required spark data types for

In [20]:
from pyspark.sql.types import StructType,DoubleType,StructField,BooleanType,FloatType,StringType, IntegerType, DateType, LongType

In [21]:

mySchema = StructType([ StructField("id", LongType(), True),
StructField("name", StringType(), True),
StructField("description", StringType(), True),
StructField("host_id", StringType(), True),
StructField("host_name", StringType(), True),
StructField("host_is_superhost", StringType(), True),
StructField("host_total_listings_count", StringType(), True),
StructField("host_identity_verified", StringType(), True),
StructField("neighbourhood", StringType(), True),
StructField("neighbourhood_group", StringType(), True),
StructField("property_type", StringType(), True),
StructField("room_type", StringType(), True),
StructField("accommodates", StringType(), True),
StructField("bathrooms", StringType(), True),
StructField("bedrooms", StringType(), True),
StructField("beds", IntegerType(), True),
StructField("price", FloatType(), True),
StructField("maximum_nights", StringType(), True),
StructField("minimum_nights", StringType(), True),
StructField("has_availability", StringType(), True),
StructField("availability_30", StringType(), True),
StructField("availability_60", StringType(), True),
StructField("availability_90", StringType(), True),
StructField("availability_365", StringType(), True),
StructField("number_of_reviews", StringType(), True),
StructField("review_scores_rating", StringType(), True),
StructField("review_scores_accuracy", StringType(), True),
StructField("review_scores_cleanliness", StringType(), True),
StructField("review_scores_checkin", StringType(), True),
StructField("review_scores_communication", StringType(), True),
StructField("review_scores_location", StringType(), True),
StructField("review_scores_value", StringType(), True),
StructField("instant_bookable", StringType(), True),
StructField("reviews_per_month", StringType(), True)])

In [22]:
airbnb_local = spark.read.csv('listings.csv', header=True, schema=mySchema,nullValue="NA");
airbnb_local.show()

+--------+--------------------+-------------------------------------+--------------------+--------------------+-----------------+-------------------------+----------------------+--------------------+-------------------+--------------------+---------------+------------+---------+--------+----+-----+--------------+---------------+----------------+---------------+---------------+---------------+----------------+-----------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+----------------+-----------------+
|      id|                name|                          description|             host_id|           host_name|host_is_superhost|host_total_listings_count|host_identity_verified|       neighbourhood|neighbourhood_group|       property_type|      room_type|accommodates|bathrooms|bedrooms|beds|price|maximum_nights| minimum_nights|has_availability|availability_30|availability_60|availability_90|availability_365|number_of_reviews|review_scores_rating|review_scores_accuracy|review_scores_cleanliness|review_scores_checkin|review_scores_communication|review_scores_location|review_scores_value|instant_bookable|reviews_per_month|
+--------+--------------------+-------------------------------------+--------------------+--------------------+-----------------+-------------------------+----------------------+--------------------+-------------------+--------------------+---------------+------------+---------+--------+----+-----+--------------+---------------+----------------+---------------+---------------+---------------+----------------+-----------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+----------------+-----------------+
|    null|A home away from ...|                 The whole group w...|           495455523|             Michael|                f|                        1|                     f|                null|           Brooklyn|Private room in home|   Private room|           2|     null|       1|   1|143.0|             2|             30|               t|             30|             60|             90|             364|                0|                null|                  null|                     null|                 null|                       null|                  null|               null|               f|             null|
|    null|     Brooklyn Refuge|                 Take a break and ...|           488760226|                Eric|                f|                        5|                     t|                null|           Brooklyn|Private room in r...|   Private room|           1|     null|       1|   1| 30.0|             2|           1125|               t|             15|             19|             38|              41|               13|                4.85|                  4.77|                     4.77|                 4.85|                       4.92|                  4.85|               4.92|               t|             4.29|
|    null|       Villa Masino.|                 Close to beach   ...|           461263600|             Tommaso|                f|                        1|                     f|                null|      Staten Island|        Entire villa|Entire home/apt|           6|     null|       2|   2|157.0|             1|            365|               t|             30|             60|             90|             364|                0|                null|                  null|                     null|                 null|                       null|                  null|               null|               f|             null|
|    null|1-Bedroom Private...|                 Private room with...|           475699129|             Suliman|                t|                        7|                     t|                null|           Brooklyn|Private room in home|   Private room|           2|     null|       3|   1| 89.0|             1|             20|               t|             30|             60|             90|             364|               15|                   5|                     5|                     4.87|                    5|                          5|                     5|                  5|               t|             5.17|
|49248255|Get the best of b...|                 Welcome to the gr...|           397288055|           Katherine|                f|                        2|                     t|The Bronx, New Yo...|              Bronx|  Entire rental unit|Entire home/apt|           3|     null|       2|   2|125.0|             3|             21|               t|              3|             17|             46|              46|               25|                4.48|                  4.56|                     4.44|                 4.72|                       4.88|                  4.72|               4.64|               f|             1.11|
|52059982|              Room 1|房间内带有两个标准的单人床，室内带...|           239139334|               Helen|                f|                        7|                     t|Queens, New York,...|             Queens|Private room in r...|   Private room|           3|     null|       1|   1| 63.0|             2|            365|               t|             14|             44|             74|             349|               40|                4.68|                  4.88|                     4.55|                 4.78|                       4.78|                  4.93|               4.68|               t|             2.26|
|    null|        Welcome home|                 Disfruta de una e...|           426682883|              Carlos|                f|                        1|                     f|                null|             Queens|Private room in home|   Private room|           2|     null|       1|   1| 82.0|             1|             30|               t|             30|             60|             89|              89|                0|                null|                  null|                     null|                 null|                       null|                  null|               null|               f|             null|
|39125813|Brand new constru...|                 The apartment is ...|            77290831|                 Nas|                f|                        1|                     t|                null|      Staten Island|  Entire rental unit|Entire home/apt|           3|     null|       1|   3|118.0|             7|             60|               t|             30|             60|             90|             179|                3|                   5|                     5|                        5|                    5|                          5|                     5|                  5|               f|             0.32|
|    null|Room in Newly Ren...|                 Private, air-cond...|            51426218|              Sherry|                f|                       20|                     t|                null|             Queens|Private room in home|   Private room|           1|     null|       1|   1| 49.0|             5|           1125|               t|             26|             37|             67|             342|                1|                   5|                     5|                        5|                    5|                          5|                     5|                  5|               f|             0.31|
| 6726337|Beautiful 2 Bedro...|                 Beautiful 2 bedro...|            21444167|                Rony|                t|                        2|                     t|RIVERDALE, New Yo...|              Bronx|  Entire rental unit|Entire home/apt|           4|     null|       2|   2|115.0|            30|           1125|               t|             18|             48|             78|             209|               16|                   5|                  4.93|                     4.93|                 4.93|                       4.93|                   4.8|               4.73|               f|             0.17|
|    null|nice home by the ...|                 Make some memorie...|           343405281|                Zaid|                f|                        2|                     t|                null|             Queens| Shared room in home|    Shared room|           2|     null|       1|   1|975.0|             1|            365|               t|             30|             60|             90|             364|                0|                null|                  null|                     null|                 null|                       null|                  null|               null|               t|             null|
|    null|Queens Haunted Ho...|                 "Unique listing! ...| mini lounge area...| Queen sized bed....|          kitchen|                 bathroom|            3 bedrooms| 6 beds<br /><br ...|        please lea"|           486718434|        Janette|           f|        1|       f|null| null|   Entire home|Entire home/apt|               4|           null|              3|              5|             179|                1|                1125|                     t|                       27|                   54|                         84|                   359|                  2|               5|                5|
|    null|Apartamento espac...|                 Diviértete con to...|           479109924|               Angel|                f|                        2|                     f|                null|             Queens|  Entire rental unit|Entire home/apt|           7|     null|       3|   5|172.0|             1|             30|               t|             28|             57|             87|             356|               17|                4.76|                  4.82|                     4.88|                    5|                       4.82|                  4.24|               4.82|               f|                3|
|49484842|Beautiful cozy ro...|                                 null|           179951095|           Balwinder|                f|                        2|                     t|                null|             Queens|Private room in home|   Private room|           1|     null|       1|   1| 68.0|             1|              5|               t|              0|              0|              0|              95|                6|                   5|                  4.83|                     4.83|                 4.83|                          5|                  4.83|               4.83|               f|             0.28|
|    null|         Beach house|                 Take a break and ...|           246499229|               Masha|                f|                        1|                     t|                null|             Queens|Private room in home|   Private room|           2|     null|       1|   1|100.0|             1|             31|               t|             30|             60|             90|             364|                0|                null|                  null|                     null|                 null|                       null|                  null|               null|               t|             null|
|    null|2-bedroom beach h...|                 Bring the whole f...|           380729610|               Shawn|                t|                        3|                     t|Queens, New York,...|             Queens|         Entire home|Entire home/apt|           6|     null|       2|   3|380.0|             1|           1125|               t|             30|             60|             88|             346|                8|                4.88|                  4.88|                        5|                    5|                          5|                  4.88|               4.75|               f|             0.74|
|51499702|Walking distance ...|                 Location,location...|           413506029|                Dung|                f|                        1|                     t|Staten Island, Ne...|      Staten Island|   Entire guesthouse|Entire home/apt|           7|     null|       3|   4|175.0|             2|           1125|               t|             17|             38|             60|             131|               77|                4.61|                  4.77|                     4.55|                 4.88|                        4.9|                  4.82|               4.68|               f|             4.05|
|35275920|Cozy summer relax...|                 This house has a ...|           265576141|              Sharon|                f|                        2|                     f|Queens, New York,...|             Queens|Private room in home|   Private room|           2|     null|       1|   1| 60.0|             7|             62|               t|             26|             56|             86|             328|               13|                4.54|                  4.62|                     4.31|                 4.62|                       4.77|                  4.46|               4.38|               f|             0.29|
|39549128|New2BR/PreWar bui...|                 Privacy of your o...|           302253393|               Frits|                f|                       21|                     f|                null|              Bronx|Shared room in condo|    Shared room|           1|     null|       1|   4|301.0|            30|           1125|               t|             23|             53|             82|              82|                0|                null|                  null|                     null|                 null|                       null|                  null|               null|               t|             null|
|53457149|☆Cozy 1BR Apartme...|                 Modern 1 Bedroom ...|           264728394|                Alex|                f|                        6|                     t|                null|           Brooklyn|  Entire rental unit|Entire home/apt|           4|     null|       1|   2|109.0|             5|           1125|               t|             30|             60|             90|             179|                6|                4.83|                  4.83|                     4.83|                 4.83|                       4.83|                  4.83|               4.83|               f|             0.53|
+--------+--------------------+-------------------------------------+--------------------+--------------------+-----------------+-------------------------+----------------------+--------------------+-------------------+--------------------+---------------+------------+---------+--------+----+-----+--------------+---------------+----------------+---------------+---------------+---------------+----------------+-----------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+----------------+-----------------+
only showing top 20 rows

In [23]:
airbnb_local.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_total_listings_count: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- beds: integer (nullable = true)
 |-- price: float (nullable = true)
 |-- maximum_nights: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: string (nullable = true)
 |-- availability_60: string (nullable = true)
 |-- availability_90: string (nullable = true)
 |-- availability_365: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- review_scores_rating: string (nullable = true)
 |-- review_scores_accuracy: string (nullable = true)
 |-- review_scores_cleanliness: string (nullable = true)
 |-- review_scores_checkin: string (nullable = true)
 |-- review_scores_communication: string (nullable = true)
 |-- review_scores_location: string (nullable = true)
 |-- review_scores_value: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)

In [24]:
# airbnb_df_spark1 = spark.createDataFrame("listings.csv",schema=mySchema,header=True)
# airbnb_df_spark1.show()

##### load pandas data frame to spark

In [25]:

airbnb_df_spark = spark.createDataFrame(data_df)
airbnb_df_spark.show()

c:\Users\rmura\anaconda3\envs\spark\lib\site-packages\pyspark\sql\pandas\conversion.py:371: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+------------------+--------------------+-------------------------------------+---------+---------+-----------------+-------------------------+----------------------+---------------+-------------------+--------------------+---------------+------------+----------------+--------+----+-----+--------------+--------------+----------------+---------------+---------------+---------------+----------------+-----------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+----------------+-----------------+
|                id|                name|                          description|  host_id|host_name|host_is_superhost|host_total_listings_count|host_identity_verified|  neighbourhood|neighbourhood_group|       property_type|      room_type|accommodates|       bathrooms|bedrooms|beds|price|minimum_nights|maximum_nights|has_availability|availability_30|availability_60|availability_90|availability_365|number_of_reviews|review_scores_rating|review_scores_accuracy|review_scores_cleanliness|review_scores_checkin|review_scores_communication|review_scores_location|review_scores_value|instant_bookable|reviews_per_month|
+------------------+--------------------+-------------------------------------+---------+---------+-----------------+-------------------------+----------------------+---------------+-------------------+--------------------+---------------+------------+----------------+--------+----+-----+--------------+--------------+----------------+---------------+---------------+---------------+----------------+-----------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+----------------+-----------------+
|765948794133787266|     Brooklyn Refuge|                 Take a break and ...|488760226|     Eric|                0|                      5.0|                     1|       Canarsie|           Brooklyn|Private room in r...|   Private room|           1|   1 shared bath|     1.0| 1.0| 30.0|             2|          1125|               1|             15|             19|             38|              41|               13|                4.85|                  4.77|                     4.77|                 4.85|                       4.92|                  4.85|               4.92|               1|             4.29|
|768125251187660469|1-Bedroom Private...|                 Private room with...|475699129|  Suliman|                1|                      7.0|                     1| Sheepshead Bay|           Brooklyn|Private room in home|   Private room|           2|         2 baths|     3.0| 1.0| 89.0|             1|            20|               1|             30|             60|             90|             364|               15|                 5.0|                   5.0|                     4.87|                  5.0|                        5.0|                   5.0|                5.0|               1|             5.17|
|          49248255|Get the best of b...|                 Welcome to the gr...|397288055|Katherine|                0|                      2.0|                     1|North Riverdale|              Bronx|  Entire rental unit|Entire home/apt|           3|          1 bath|     2.0| 2.0|125.0|             3|            21|               1|              3|             17|             46|              46|               25|                4.48|                  4.56|                     4.44|                 4.72|                       4.88|                  4.72|               4.64|               0|             1.11|
|          52059982|              Room 1|房间内带有两个标准的单人床，室内带...|239139334|    Helen|                0|                      7.0|                     1|       Flushing|             Queens|Private room in r...|   Private room|           3|   1 shared bath|     1.0| 1.0| 63.0|             2|           365|               1|             14|             44|             74|             349|               40|                4.68|                  4.88|                     4.55|                 4.78|                       4.78|                  4.93|               4.68|               1|             2.26|
|          39125813|Brand new constru...|                 The apartment is ...| 77290831|      Nas|                0|                      1.0|                     1|   Prince's Bay|      Staten Island|  Entire rental unit|Entire home/apt|           3|          1 bath|     1.0| 3.0|118.0|             7|            60|               1|             30|             60|             90|             179|                3|                 5.0|                   5.0|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|               0|             0.32|
|654508528815045267|Room in Newly Ren...|                 Private, air-cond...| 51426218|   Sherry|                0|                     20.0|                     1|  Richmond Hill|             Queens|Private room in home|   Private room|           1|   1 shared bath|     1.0| 1.0| 49.0|             5|          1125|               1|             26|             37|             67|             342|                1|                 5.0|                   5.0|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|               0|             0.31|
|           6726337|Beautiful 2 Bedro...|                 Beautiful 2 bedro...| 21444167|     Rony|                1|                      2.0|                     1|    Kingsbridge|              Bronx|  Entire rental unit|Entire home/apt|           4|          1 bath|     2.0| 2.0|115.0|            30|          1125|               1|             18|             48|             78|             209|               16|                 5.0|                  4.93|                     4.93|                 4.93|                       4.93|                   4.8|               4.73|               0|             0.17|
|754903813460937923|Queens Haunted Ho...|                 Unique listing! T...|486718434|  Janette|                0|                      1.0|                     0| Queens Village|             Queens|         Entire home|Entire home/apt|           4|          1 bath|     3.0| 5.0|179.0|             1|          1125|               1|             27|             54|             84|             359|                2|                 5.0|                   5.0|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|               1|              2.0|
|713836647349232871|Apartamento espac...|                 Diviértete con to...|479109924|    Angel|                0|                      2.0|                     0|   Far Rockaway|             Queens|  Entire rental unit|Entire home/apt|           7|          1 bath|     3.0| 5.0|172.0|             1|            30|               1|             28|             57|             87|             356|               17|                4.76|                  4.82|                     4.88|                  5.0|                       4.82|                  4.24|               4.82|               0|              3.0|
|          49484842|Beautiful cozy ro...|                              Unknown|179951095|Balwinder|                0|                      2.0|                     1|  Richmond Hill|             Queens|Private room in home|   Private room|           1|   1 shared bath|     1.0| 1.0| 68.0|             1|             5|               1|              0|              0|              0|              95|                6|                 5.0|                  4.83|                     4.83|                 4.83|                        5.0|                  4.83|               4.83|               0|             0.28|
|599521385504516024|2-bedroom beach h...|                 Bring the whole f...|380729610|    Shawn|                1|                      3.0|                     1|       Edgemere|             Queens|         Entire home|Entire home/apt|           6|         2 baths|     2.0| 3.0|380.0|             1|          1125|               1|             30|             60|             88|             346|                8|                4.88|                  4.88|                      5.0|                  5.0|                        5.0|                  4.88|               4.75|               0|             0.74|
|          51499702|Walking distance ...|                 Location,location...|413506029|     Dung|                0|                      1.0|                     1|   Dongan Hills|      Staten Island|   Entire guesthouse|Entire home/apt|           7|       1.5 baths|     3.0| 4.0|175.0|             2|          1125|               1|             17|             38|             60|             131|               77|                4.61|                  4.77|                     4.55|                 4.88|                        4.9|                  4.82|               4.68|               0|             4.05|
|          35275920|Cozy summer relax...|                 This house has a ...|265576141|   Sharon|                0|                      2.0|                     0| Rockaway Beach|             Queens|Private room in home|   Private room|           2|1.5 shared baths|     1.0| 1.0| 60.0|             7|            62|               1|             26|             56|             86|             328|               13|                4.54|                  4.62|                     4.31|                 4.62|                       4.77|                  4.46|               4.38|               0|             0.29|
|          53457149|☆Cozy 1BR Apartme...|                 Modern 1 Bedroom ...|264728394|     Alex|                0|                      6.0|                     1| Brighton Beach|           Brooklyn|  Entire rental unit|Entire home/apt|           4|          1 bath|     1.0| 2.0|109.0|             5|          1125|               1|             30|             60|             90|             179|                6|                4.83|                  4.83|                     4.83|                 4.83|                       4.83|                  4.83|               4.83|               0|             0.53|
|          40177066|Apartment with wa...|                              Unknown| 42486495|    Benco|                0|                     13.0|                     1|   Far Rockaway|             Queens|Private room in home|   Private room|           1|   1 shared bath|     1.0| 2.0|105.0|             1|            28|               1|             30|             60|             89|              89|                1|                 5.0|                   5.0|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|               0|             0.88|
|618451653506979162|Base Apt (Basemen...|                 Take it easy at t...|371008926|  Patrick|                0|                     10.0|                     0| Queens Village|             Queens|  Entire rental unit|Entire home/apt|           2|          1 bath|     0.5| 1.0| 80.0|            30|           365|               1|             30|             60|             90|             364|                3|                4.67|                   5.0|                     4.67|                  5.0|                        5.0|                   5.0|                5.0|               1|             0.33|
|          29756137|1 bedroom Apartment.|                 1Bedroom Apartmen...|215041024|      Ife|                0|                      1.0|                     1|       Edgemere|             Queens|         Entire home|Entire home/apt|           2|          1 bath|     1.0| 1.0| 90.0|             4|             7|               1|             29|             59|             88|              88|               13|                4.31|                  4.77|                     4.46|                 4.69|                       4.54|                  4.38|               4.54|               0|             0.29|
|          52206067|Stylish and luxur...|                 This room is offe...|422579287| Evyiatar|                0|                      2.0|                     1|      Bayswater|             Queens|Private room in home|   Private room|           2|   1 shared bath|     1.0| 1.0| 85.0|            31|           365|               1|             30|             60|             90|             364|                2|                 5.0|                   5.0|                      4.5|                  5.0|                        5.0|                   5.0|                5.0|               0|              0.3|
|712595606533295666|Lovely 2 bedroom ...|                 Take it easy at t...|478887744|   Rachel|                0|                      1.0|                     1|   Far Rockaway|             Queens|Private room in r...|   Private room|           2|         2 baths|     2.0| 1.0| 99.0|             6|            13|               1|             30|             60|             90|             364|                1|                 5.0|                   5.0|                      5.0|                  4.0|                        5.0|                   4.0|                5.0|               1|             0.19|
|          47004464|Bohemian NYC Apt ...|                 Have fun with the...|379993600|      Rob|                1|                      4.0|                     1|        Bayside|             Queens|  Entire rental unit|Entire home/apt|           6|          1 bath|     2.0| 2.0|216.0|             1|           180|               1|             12|             24|             40|             202|               86|                4.95|                  4.97|                     4.97|                 4.95|                       4.95|                  4.99|                4.9|               0|             3.87|
+------------------+--------------------+-------------------------------------+---------+---------+-----------------+-------------------------+----------------------+---------------+-------------------+--------------------+---------------+------------+----------------+--------+----+-----+--------------+--------------+----------------+---------------+---------------+---------------+----------------+-----------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+----------------+-----------------+
only showing top 20 rows

##### displayschema from  load daat frame to spark

In [26]:
airbnb_df_spark.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- host_id: long (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_is_superhost: long (nullable = true)
 |-- host_total_listings_count: double (nullable = true)
 |-- host_identity_verified: long (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: long (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- bedrooms: double (nullable = true)
 |-- beds: double (nullable = true)
 |-- price: double (nullable = true)
 |-- minimum_nights: long (nullable = true)
 |-- maximum_nights: long (nullable = true)
 |-- has_availability: long (nullable = true)
 |-- availability_30: long (nullable = true)
 |-- availability_60: long (nullable = true)
 |-- availability_90: long (nullable = true)
 |-- availability_365: long (nullable = true)
 |-- number_of_reviews: long (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- instant_bookable: long (nullable = true)
 |-- reviews_per_month: double (nullable = true)

##### Check if any na values available in data set.

In [27]:
airbnb_df_spark.fillna

<bound method DataFrame.fillna of DataFrame[id: bigint, name: string, description: string, host_id: bigint, host_name: string, host_is_superhost: bigint, host_total_listings_count: double, host_identity_verified: bigint, neighbourhood: string, neighbourhood_group: string, property_type: string, room_type: string, accommodates: bigint, bathrooms: string, bedrooms: double, beds: double, price: double, minimum_nights: bigint, maximum_nights: bigint, has_availability: bigint, availability_30: bigint, availability_60: bigint, availability_90: bigint, availability_365: bigint, number_of_reviews: bigint, review_scores_rating: double, review_scores_accuracy: double, review_scores_cleanliness: double, review_scores_checkin: double, review_scores_communication: double, review_scores_location: double, review_scores_value: double, instant_bookable: bigint, reviews_per_month: double]>

##### CHceking the spark datatype

In [28]:
type(airbnb_df_spark)

pyspark.sql.dataframe.DataFrame

##### Show the avialble tables in tha Spark dataware house

In [29]:
spark.catalog.listTables()

[]

##### Use default database a current user

In [30]:
airbnb_dw=spark.sql("use default").show()

++
||
++
++

##### Show available tablesnin the current user database

In [31]:
tables = spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

##### Install the spark SQL magic for simple interactions

In [32]:
# ! pip install sparksql-magic

#### Create the data in the persistant table

In [33]:
airbnb_df_spark.show()

+------------------+--------------------+-------------------------------------+---------+---------+-----------------+-------------------------+----------------------+---------------+-------------------+--------------------+---------------+------------+----------------+--------+----+-----+--------------+--------------+----------------+---------------+---------------+---------------+----------------+-----------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+----------------+-----------------+
|                id|                name|                          description|  host_id|host_name|host_is_superhost|host_total_listings_count|host_identity_verified|  neighbourhood|neighbourhood_group|       property_type|      room_type|accommodates|       bathrooms|bedrooms|beds|price|minimum_nights|maximum_nights|has_availability|availability_30|availability_60|availability_90|availability_365|number_of_reviews|review_scores_rating|review_scores_accuracy|review_scores_cleanliness|review_scores_checkin|review_scores_communication|review_scores_location|review_scores_value|instant_bookable|reviews_per_month|
+------------------+--------------------+-------------------------------------+---------+---------+-----------------+-------------------------+----------------------+---------------+-------------------+--------------------+---------------+------------+----------------+--------+----+-----+--------------+--------------+----------------+---------------+---------------+---------------+----------------+-----------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+----------------+-----------------+
|765948794133787266|     Brooklyn Refuge|                 Take a break and ...|488760226|     Eric|                0|                      5.0|                     1|       Canarsie|           Brooklyn|Private room in r...|   Private room|           1|   1 shared bath|     1.0| 1.0| 30.0|             2|          1125|               1|             15|             19|             38|              41|               13|                4.85|                  4.77|                     4.77|                 4.85|                       4.92|                  4.85|               4.92|               1|             4.29|
|768125251187660469|1-Bedroom Private...|                 Private room with...|475699129|  Suliman|                1|                      7.0|                     1| Sheepshead Bay|           Brooklyn|Private room in home|   Private room|           2|         2 baths|     3.0| 1.0| 89.0|             1|            20|               1|             30|             60|             90|             364|               15|                 5.0|                   5.0|                     4.87|                  5.0|                        5.0|                   5.0|                5.0|               1|             5.17|
|          49248255|Get the best of b...|                 Welcome to the gr...|397288055|Katherine|                0|                      2.0|                     1|North Riverdale|              Bronx|  Entire rental unit|Entire home/apt|           3|          1 bath|     2.0| 2.0|125.0|             3|            21|               1|              3|             17|             46|              46|               25|                4.48|                  4.56|                     4.44|                 4.72|                       4.88|                  4.72|               4.64|               0|             1.11|
|          52059982|              Room 1|房间内带有两个标准的单人床，室内带...|239139334|    Helen|                0|                      7.0|                     1|       Flushing|             Queens|Private room in r...|   Private room|           3|   1 shared bath|     1.0| 1.0| 63.0|             2|           365|               1|             14|             44|             74|             349|               40|                4.68|                  4.88|                     4.55|                 4.78|                       4.78|                  4.93|               4.68|               1|             2.26|
|          39125813|Brand new constru...|                 The apartment is ...| 77290831|      Nas|                0|                      1.0|                     1|   Prince's Bay|      Staten Island|  Entire rental unit|Entire home/apt|           3|          1 bath|     1.0| 3.0|118.0|             7|            60|               1|             30|             60|             90|             179|                3|                 5.0|                   5.0|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|               0|             0.32|
|654508528815045267|Room in Newly Ren...|                 Private, air-cond...| 51426218|   Sherry|                0|                     20.0|                     1|  Richmond Hill|             Queens|Private room in home|   Private room|           1|   1 shared bath|     1.0| 1.0| 49.0|             5|          1125|               1|             26|             37|             67|             342|                1|                 5.0|                   5.0|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|               0|             0.31|
|           6726337|Beautiful 2 Bedro...|                 Beautiful 2 bedro...| 21444167|     Rony|                1|                      2.0|                     1|    Kingsbridge|              Bronx|  Entire rental unit|Entire home/apt|           4|          1 bath|     2.0| 2.0|115.0|            30|          1125|               1|             18|             48|             78|             209|               16|                 5.0|                  4.93|                     4.93|                 4.93|                       4.93|                   4.8|               4.73|               0|             0.17|
|754903813460937923|Queens Haunted Ho...|                 Unique listing! T...|486718434|  Janette|                0|                      1.0|                     0| Queens Village|             Queens|         Entire home|Entire home/apt|           4|          1 bath|     3.0| 5.0|179.0|             1|          1125|               1|             27|             54|             84|             359|                2|                 5.0|                   5.0|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|               1|              2.0|
|713836647349232871|Apartamento espac...|                 Diviértete con to...|479109924|    Angel|                0|                      2.0|                     0|   Far Rockaway|             Queens|  Entire rental unit|Entire home/apt|           7|          1 bath|     3.0| 5.0|172.0|             1|            30|               1|             28|             57|             87|             356|               17|                4.76|                  4.82|                     4.88|                  5.0|                       4.82|                  4.24|               4.82|               0|              3.0|
|          49484842|Beautiful cozy ro...|                              Unknown|179951095|Balwinder|                0|                      2.0|                     1|  Richmond Hill|             Queens|Private room in home|   Private room|           1|   1 shared bath|     1.0| 1.0| 68.0|             1|             5|               1|              0|              0|              0|              95|                6|                 5.0|                  4.83|                     4.83|                 4.83|                        5.0|                  4.83|               4.83|               0|             0.28|
|599521385504516024|2-bedroom beach h...|                 Bring the whole f...|380729610|    Shawn|                1|                      3.0|                     1|       Edgemere|             Queens|         Entire home|Entire home/apt|           6|         2 baths|     2.0| 3.0|380.0|             1|          1125|               1|             30|             60|             88|             346|                8|                4.88|                  4.88|                      5.0|                  5.0|                        5.0|                  4.88|               4.75|               0|             0.74|
|          51499702|Walking distance ...|                 Location,location...|413506029|     Dung|                0|                      1.0|                     1|   Dongan Hills|      Staten Island|   Entire guesthouse|Entire home/apt|           7|       1.5 baths|     3.0| 4.0|175.0|             2|          1125|               1|             17|             38|             60|             131|               77|                4.61|                  4.77|                     4.55|                 4.88|                        4.9|                  4.82|               4.68|               0|             4.05|
|          35275920|Cozy summer relax...|                 This house has a ...|265576141|   Sharon|                0|                      2.0|                     0| Rockaway Beach|             Queens|Private room in home|   Private room|           2|1.5 shared baths|     1.0| 1.0| 60.0|             7|            62|               1|             26|             56|             86|             328|               13|                4.54|                  4.62|                     4.31|                 4.62|                       4.77|                  4.46|               4.38|               0|             0.29|
|          53457149|☆Cozy 1BR Apartme...|                 Modern 1 Bedroom ...|264728394|     Alex|                0|                      6.0|                     1| Brighton Beach|           Brooklyn|  Entire rental unit|Entire home/apt|           4|          1 bath|     1.0| 2.0|109.0|             5|          1125|               1|             30|             60|             90|             179|                6|                4.83|                  4.83|                     4.83|                 4.83|                       4.83|                  4.83|               4.83|               0|             0.53|
|          40177066|Apartment with wa...|                              Unknown| 42486495|    Benco|                0|                     13.0|                     1|   Far Rockaway|             Queens|Private room in home|   Private room|           1|   1 shared bath|     1.0| 2.0|105.0|             1|            28|               1|             30|             60|             89|              89|                1|                 5.0|                   5.0|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|               0|             0.88|
|618451653506979162|Base Apt (Basemen...|                 Take it easy at t...|371008926|  Patrick|                0|                     10.0|                     0| Queens Village|             Queens|  Entire rental unit|Entire home/apt|           2|          1 bath|     0.5| 1.0| 80.0|            30|           365|               1|             30|             60|             90|             364|                3|                4.67|                   5.0|                     4.67|                  5.0|                        5.0|                   5.0|                5.0|               1|             0.33|
|          29756137|1 bedroom Apartment.|                 1Bedroom Apartmen...|215041024|      Ife|                0|                      1.0|                     1|       Edgemere|             Queens|         Entire home|Entire home/apt|           2|          1 bath|     1.0| 1.0| 90.0|             4|             7|               1|             29|             59|             88|              88|               13|                4.31|                  4.77|                     4.46|                 4.69|                       4.54|                  4.38|               4.54|               0|             0.29|
|          52206067|Stylish and luxur...|                 This room is offe...|422579287| Evyiatar|                0|                      2.0|                     1|      Bayswater|             Queens|Private room in home|   Private room|           2|   1 shared bath|     1.0| 1.0| 85.0|            31|           365|               1|             30|             60|             90|             364|                2|                 5.0|                   5.0|                      4.5|                  5.0|                        5.0|                   5.0|                5.0|               0|              0.3|
|712595606533295666|Lovely 2 bedroom ...|                 Take it easy at t...|478887744|   Rachel|                0|                      1.0|                     1|   Far Rockaway|             Queens|Private room in r...|   Private room|           2|         2 baths|     2.0| 1.0| 99.0|             6|            13|               1|             30|             60|             90|             364|                1|                 5.0|                   5.0|                      5.0|                  4.0|                        5.0|                   4.0|                5.0|               1|             0.19|
|          47004464|Bohemian NYC Apt ...|                 Have fun with the...|379993600|      Rob|                1|                      4.0|                     1|        Bayside|             Queens|  Entire rental unit|Entire home/apt|           6|          1 bath|     2.0| 2.0|216.0|             1|           180|               1|             12|             24|             40|             202|               86|                4.95|                  4.97|                     4.97|                 4.95|                       4.95|                  4.99|                4.9|               0|             3.87|
+------------------+--------------------+-------------------------------------+---------+---------+-----------------+-------------------------+----------------------+---------------+-------------------+--------------------+---------------+------------+----------------+--------+----+-----+--------------+--------------+----------------+---------------+---------------+---------------+----------------+-----------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+----------------+-----------------+
only showing top 20 rows

In [34]:
airbnb_df_spark.

SyntaxError: invalid syntax (4100392482.py, line 1)

#### Create a temporary variable without any filter from the original dataframe

In [ ]:
airbnb_df_spark.createOrReplaceTempView("airbnb_tmp_view")

##### Show tables

In [ ]:
tables = spark.sql("show tables").show()

##### load the extension

In [ ]:
%load_ext sparksql_magic

##### Displaying top rows using Spark SQL Query format

In [ ]:
%%sparksql
select * from airbnb_tmp_view limit 2

##### Execute the SQL Spark query without extension

In [ ]:
spark.sql("select id from airbnb_tmp_view").show(3)

#### A query to get the count by using property type

In [ ]:
%%sparksql 
select property_type, count(*) As AvgProperty from airbnb_tmp_view group by property_type

#### A Query to get the DIstinct types of beds available

In [ ]:
%%sparksql 
select DISTINCT(beds) from airbnb_tmp_view

#### A query to get the price of rooms by grouping by property type

In [ ]:
%%sparksql 
select property_type, sum(price) As AvgProperty from airbnb_tmp_view group by property_type

#### Creating the separte database only for property type of entire rental unit

In [ ]:
df_unique_propertytype=airbnb_df_spark.filter("property_type=='Entire rental unit'")

#### Creating temporary view for created dataframe of entire rental unit property type

In [ ]:
df_unique_propertytype.createOrReplaceTempView("airbnb_tmp_view_enterroom")

In [ ]:
airbnb_dw=spark.sql("show tables").show()

#### Query for getting the count of data in that created dataframe

In [ ]:
%%sparksql 
select Count(*) from airbnb_tmp_view_enterroom

In [ ]:
%%sparksql 
select DISTINCT(beds) from airbnb_tmp_view_enterroom

##### From the above results, we can say that these are the distinct beds available in the property type of "entire rent value"

In [ ]:
# spark.stop()