ISM6562.002S23

Team: APEX

Team mebers: Aswith Reddy Kovvuri, Muralidhar Reddy Reddem, Sindhura Alla

##### About the Dataset:

We have chosen one of the most happening cities, New York, for our analysis. The dataset includes 32,500 properties  which are listed in the Airbnb website.

Listings, including full descriptions,Host details,Availabilty,Beds ,Bathroom count,Property type, review scores, Reviews, including unique id for each listing the price and availability for that day,

About the Source:
Airbnb, Inc is an American company that operates an online marketplace for lodging, primarily homestays for vacation rentals, and tourism activities. Based in San Francisco, California, the platform is accessible via website and mobile app. Airbnb does not own any of the listed properties; instead, it profits by receiving commission from each booking. The company was founded in 2008. Airbnb is a shortened version of its original name, AirBedandBreakfast.com.
Inside Airbnb is a mission driven project that provides data and advocacy about Airbnb's impact on residential communities, where data and information empower communities to understand, decide and control the role of renting residential homes to tourists.

Collaborators
Inside Airbnb relies on the kind contribution of a variety of collaborators and partners.
* Murray Cox.,
* Taylor Higgins. 
* Alice Corona.
* Luca Lamonaca. 
* Michael "Ziggy" Mintz. 

Technology
The site uses the following Open Source technologies:- 
D3, Bootstrap, Python, PostgreSQL and Google Fonts.
Maps are designed in Mapbox with OpenStreetMap data and hosted via Mapbox.
The site is served by an Amazon S3 "bucket".

##### Importing the Required poackages

In [1]:
import pandas as pd

##### Reading the data directly from the source

In [2]:
data_df = pd.read_csv('http://data.insideairbnb.com/united-states/ny/new-york-city/2023-03-06/data/listings.csv.gz', low_memory=False)
data_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,801749842377802394,https://www.airbnb.com/rooms/801749842377802394,20230306014634,2023-03-06,city scrape,A home away from home,The whole group will be comfortable in this sp...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,495455523,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
1,765948794133787266,https://www.airbnb.com/rooms/765948794133787266,20230306014634,2023-03-06,city scrape,Brooklyn Refuge,Take a break and unwind at this peaceful oasis.,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,488760226,...,4.92,4.85,4.92,NaN,t,2,1,1,0,4.29
2,636274456676328779,https://www.airbnb.com/rooms/636274456676328779,20230306014634,2023-03-06,city scrape,Villa Masino.,Close to beach Peaceful walk to park & beach...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,461263600,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
3,768125251187660469,https://www.airbnb.com/rooms/768125251187660469,20230306014634,2023-03-06,city scrape,1-Bedroom Private Room with King Size Bed,Private room with king size bedroom near Sheep...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,475699129,...,5.00,5.00,5.00,NaN,t,7,0,7,0,5.17
4,49248255,https://www.airbnb.com/rooms/49248255,20230306014634,2023-03-06,city scrape,Get the best of both worlds in Riverdale!,Welcome to the greatest location if you desire...,You will find within walking distance the Metr...,https://a0.muscache.com/pictures/e8e13cf7-44e9...,397288055,...,4.88,4.72,4.64,NaN,f,1,1,0,0,1.11

#### Removing redundant columns:

In [3]:

cols_to_delete = ['listing_url', 'scrape_id', 'last_scraped', 'source', 'neighborhood_overview', 'host_location', 
                  'host_about', 'picture_url','host_url','host_since','host_thumbnail_url', 'host_picture_url', 
                  'host_neighbourhood', 'host_listings_count', 'host_verifications', 'host_has_profile_pic', 
                  'neighbourhood', 'latitude', 'longitude', 'bathrooms', 'amenities', 'minimum_minimum_nights',
                  'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
                  'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'calendar_last_scraped', 
                  'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'license', 
                  'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 
                  'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 
                  'host_response_time', 'host_response_rate', 'host_acceptance_rate']

In [4]:
data_df = data_df.drop(cols_to_delete, axis=1)
data_df.head()

,id,name,description,host_id,host_name,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,801749842377802394,A home away from home,The whole group will be comfortable in this sp...,495455523,Michael,f,1.0,f,Canarsie,Brooklyn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN
1,765948794133787266,Brooklyn Refuge,Take a break and unwind at this peaceful oasis.,488760226,Eric,f,5.0,t,Canarsie,Brooklyn,...,13,4.85,4.77,4.77,4.85,4.92,4.85,4.92,t,4.29
2,636274456676328779,Villa Masino.,Close to beach Peaceful walk to park & beach...,461263600,Tommaso,f,1.0,f,Tottenville,Staten Island,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN
3,768125251187660469,1-Bedroom Private Room with King Size Bed,Private room with king size bedroom near Sheep...,475699129,Suliman,t,7.0,t,Sheepshead Bay,Brooklyn,...,15,5.00,5.00,4.87,5.00,5.00,5.00,5.00,t,5.17
4,49248255,Get the best of both worlds in Riverdale!,Welcome to the greatest location if you desire...,397288055,Katherine,f,2.0,t,North Riverdale,Bronx,...,25,4.48,4.56,4.44,4.72,4.88,4.72,4.64,f,1.11

#### Renaming the columns

In [5]:

print(data_df.columns)
data_df = data_df.rename(columns={'neighbourhood_cleansed': 'neighbourhood', 
                                  'neighbourhood_group_cleansed': 'neighbourhood_group',
                                  'bathrooms_text': 'bathrooms'})
print(data_df.columns)
data_df.head()

Index(['id', 'name', 'description', 'host_id', 'host_name',
       'host_is_superhost', 'host_total_listings_count',
       'host_identity_verified', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'property_type', 'room_type',
       'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'reviews_per_month'],
      dtype='object')
Index(['id', 'name', 'description', 'host_id', 'host_name',
       'host_is_superhost', 'host_total_listings_count',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_group',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'price', 'minimum_nights', 'maximum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'reviews_per_month'],
      dtype='object')

,id,name,description,host_id,host_name,host_is_superhost,host_total_listings_count,host_identity_verified,neighbourhood,neighbourhood_group,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,801749842377802394,A home away from home,The whole group will be comfortable in this sp...,495455523,Michael,f,1.0,f,Canarsie,Brooklyn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN
1,765948794133787266,Brooklyn Refuge,Take a break and unwind at this peaceful oasis.,488760226,Eric,f,5.0,t,Canarsie,Brooklyn,...,13,4.85,4.77,4.77,4.85,4.92,4.85,4.92,t,4.29
2,636274456676328779,Villa Masino.,Close to beach Peaceful walk to park & beach...,461263600,Tommaso,f,1.0,f,Tottenville,Staten Island,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN
3,768125251187660469,1-Bedroom Private Room with King Size Bed,Private room with king size bedroom near Sheep...,475699129,Suliman,t,7.0,t,Sheepshead Bay,Brooklyn,...,15,5.00,5.00,4.87,5.00,5.00,5.00,5.00,t,5.17
4,49248255,Get the best of both worlds in Riverdale!,Welcome to the greatest location if you desire...,397288055,Katherine,f,2.0,t,North Riverdale,Bronx,...,25,4.48,4.56,4.44,4.72,4.88,4.72,4.64,f,1.11

#### Cleaning and reformating thd data

In [6]:

# Removing rows with null ratings as ratings are important factor for price
data_df = data_df[~data_df['review_scores_rating'].isna()]
# Other review columns that are null can be reasonably assumed to have same rating as review_scores_rating
for rating_col in ['review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value']:
    idx = data_df[rating_col].isna()
    data_df.loc[idx, rating_col] = data_df.loc[idx, 'review_scores_rating']

In [7]:
# Handling beds and bedrooms nan values
# Handling cases where there are number of beds but not bedrooms
idx = (data_df['bedrooms'].isna() & ~data_df['beds'].isna())
print(data_df.loc[idx, 'beds'].unique())
# Assuming 1 bedroom beds 2 people, use beds to determine number of bedrooms
data_df.loc[idx, 'bedrooms'] = data_df.loc[idx, 'beds'] / 2
# Using same assumption, fill na values in beds if there are bedrooms
idx = (~data_df['bedrooms'].isna()) & (data_df['beds'].isna())
data_df.loc[idx, 'beds'] = data_df.loc[idx, 'bedrooms'] * 2
# Finally removing rows that have no beds or bedrooms
data_df = data_df.dropna(subset=['beds', 'bedrooms'], axis=0)

[1. 2. 3. 6. 4.]

In [8]:
# Replacing f, t in boolean columns to 0, 1
bool_cols = ['host_is_superhost', 'host_identity_verified', 'has_availability', 'instant_bookable']
for bool_col in bool_cols:
    data_df[bool_col] = data_df[bool_col].fillna('f')
    data_df[bool_col] = data_df[bool_col].map({'f': 0, 't': 1})

In [9]:
# Removing rows that have 0 price as it's erroneous to have zero price for a listing
# Converting string to float column
data_df['price'] = data_df['price'].str.replace('$', '').str.replace(',', '').astype('float')
data_df = data_df[data_df['price'] > 1]

C:\Users\rmura\AppData\Local\Temp\ipykernel_17732\828959481.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_df['price'] = data_df['price'].str.replace('$', '').str.replace(',', '').astype('float')

In [10]:
# Replacing nan in str columns to Unknown
str_cols = ['name', 'description', 'host_name', 'bathrooms']
for str_col in str_cols:
    data_df[str_col] = data_df[str_col].fillna('Unknown')

In [11]:
# # Approx 3 rows with nan for host_total_listings_count, reasonable to replace with 1
data_df['host_total_listings_count'] = data_df['host_total_listings_count'].fillna(1)

In [12]:
data_df['price'].head()

1     30.0
3     89.0
4    125.0
5     63.0
7    118.0
Name: price, dtype: float64

In [13]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32504 entries, 1 to 42930
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           32504 non-null  int64
 1   name                         32504 non-null  object
 2   description                  32504 non-null  object
 3   host_id                      32504 non-null  int64
 4   host_name                    32504 non-null  object
 5   host_is_superhost            32504 non-null  int64
 6   host_total_listings_count    32504 non-null  float64
 7   host_identity_verified       32504 non-null  int64
 8   neighbourhood                32504 non-null  object
 9   neighbourhood_group          32504 non-null  object
 10  property_type                32504 non-null  object
 11  room_type                    32504 non-null  object
 12  accommodates                 32504 non-null  int64
 13  bathrooms                    32504 non-null  object
 14  bedrooms                     32504 non-null  float64
 15  beds                         32504 non-null  float64
 16  price                        32504 non-null  float64
 17  minimum_nights               32504 non-null  int64
 18  maximum_nights               32504 non-null  int64
 19  has_availability             32504 non-null  int64
 20  availability_30              32504 non-null  int64
 21  availability_60              32504 non-null  int64
 22  availability_90              32504 non-null  int64
 23  availability_365             32504 non-null  int64
 24  number_of_reviews            32504 non-null  int64
 25  review_scores_rating         32504 non-null  float64
 26  review_scores_accuracy       32504 non-null  float64
 27  review_scores_cleanliness    32504 non-null  float64
 28  review_scores_checkin        32504 non-null  float64
 29  review_scores_communication  32504 non-null  float64
 30  review_scores_location       32504 non-null  float64
 31  review_scores_value          32504 non-null  float64
 32  instant_bookable             32504 non-null  int64
 33  reviews_per_month            32504 non-null  float64
dtypes: float64(12), int64(14), object(8)
memory usage: 8.7+ MB

import required pyspark and findspark related

In [14]:
import findspark
from pyspark.sql import SparkSession;
import pandas as pd
findspark.init()

##### Create spark session with required ports

In [15]:
spark = SparkSession.builder.master("local[4]").appName("ISM6562 Spark App01").enableHiveSupport().getOrCreate();
spark_session_port = spark.sparkContext.uiWebUrl.split(":")[-1]
print("Spark Session WebUI Port: " + spark_session_port)

Spark Session WebUI Port: 4041

##### craete sprak content while allow python to perfom operaton in spark

In [16]:
sc=spark.sparkContext

##### Setting only log error in spark log set

In [17]:
sc.setLogLevel("ERROR")

# read data using pandas & pass pandas data frame to spark

In [18]:
# airbnb_df = pd.read_csv('Airbnb2.csv')
# airbnb_df.head()

In [19]:
# #airbnb_df_spark = spark.createDataFrame(airbnb_df,  )
# airbnb_df_spark = spark.read.csv("airbnb2.csv",header= True)
# airbnb_df_spark.show()

##### import required spark data types for

In [20]:
from pyspark.sql.types import StructType,DoubleType,StructField,BooleanType,FloatType,StringType, IntegerType, DateType, LongType

In [23]:

mySchema = StructType([ StructField("id", LongType(), True),
StructField("name", StringType(), True),
StructField("description", StringType(), True),
StructField("host_id", StringType(), True),
StructField("host_name", StringType(), True),
StructField("host_is_superhost", StringType(), True),
StructField("host_total_listings_count", StringType(), True),
StructField("host_identity_verified", StringType(), True),
StructField("neighbourhood", StringType(), True),
StructField("neighbourhood_group", StringType(), True),
StructField("property_type", StringType(), True),
StructField("room_type", StringType(), True),
StructField("accommodates", StringType(), True),
StructField("bathrooms", StringType(), True),
StructField("bedrooms", StringType(), True),
StructField("beds", IntegerType(), True),
StructField("price", FloatType(), True),
StructField("maximum_nights", StringType(), True),
StructField("minimum_nights", StringType(), True),
StructField("has_availability", StringType(), True),
StructField("availability_30", StringType(), True),
StructField("availability_60", StringType(), True),
StructField("availability_90", StringType(), True),
StructField("availability_365", StringType(), True),
StructField("number_of_reviews", StringType(), True),
StructField("review_scores_rating", StringType(), True),
StructField("review_scores_accuracy", StringType(), True),
StructField("review_scores_cleanliness", StringType(), True),
StructField("review_scores_checkin", StringType(), True),
StructField("review_scores_communication", StringType(), True),
StructField("review_scores_location", StringType(), True),
StructField("review_scores_value", StringType(), True),
StructField("instant_bookable", StringType(), True),
StructField("reviews_per_month", StringType(), True)])

In [37]:
airbnb_local = spark.read.csv('listings.csv', header=True, schema=mySchema,nullValue="NA");
airbnb_local.show()

AnalysisException: Found duplicate column(s) in the data schema: `maximum_nights`

In [34]:
airbnb_local.printSchema()

root
 |-- id: double (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_total_listings_count: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- beds: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- maximum_nights: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: string (nullable = true)
 |-- availability_60: string (nullable = true)
 |-- availability_90: string (nullable = true)
 |-- availability_365: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- review_scores_rating: string (nullable = true)
 |-- review_scores_accuracy: string (nullable = true)
 |-- review_scores_cleanliness: string (nullable = true)
 |-- review_scores_checkin: string (nullable = true)
 |-- review_scores_communication: string (nullable = true)
 |-- review_scores_location: string (nullable = true)
 |-- review_scores_value: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)

In [25]:
airbnb_df_spark1 = spark.createDataFrame("listings.csv",schema=mySchema,header=True)
airbnb_df_spark1.show()

TypeError: SparkSession.createDataFrame() got an unexpected keyword argument 'header'

##### load pandas data frame to spark

In [ ]:

airbnb_df_spark = spark.createDataFrame(data_df)
airbnb_df_spark.show()

##### displayschema from  load daat frame to spark

In [ ]:
airbnb_df_spark.printSchema()

##### Check if any na values available in data set.

In [ ]:
airbnb_df_spark.fillna

##### CHceking the spark datatype

In [ ]:
type(airbnb_df_spark)

##### Show the avialble tables in tha Spark dataware house

In [ ]:
spark.catalog.listTables()

##### Use default database a current user

In [ ]:
airbnb_dw=spark.sql("use default").show()

##### Show available tablesnin the current user database

In [ ]:
tables = spark.sql("show tables").show()

##### Install the spark SQL magic for simple interactions

In [ ]:
# ! pip install sparksql-magic

#### Create the data in the persistant table

In [ ]:
# airbnb_df_spark.write.saveAsTable("default.airbnb", mode='overwrite')

#### Create a temporary variable without any filter from the original dataframe

In [ ]:
airbnb_df_spark.createOrReplaceTempView("airbnb_tmp_view")

##### Show tables

In [ ]:
tables = spark.sql("show tables").show()

##### load the extension

In [ ]:
%load_ext sparksql_magic

##### Displaying top rows using Spark SQL Query format

In [ ]:
%%sparksql
select * from airbnb_tmp_view limit 2

##### Execute the SQL Spark query without extension

In [ ]:
spark.sql("select id from airbnb_tmp_view").show(3)

#### A query to get the count by using property type

In [ ]:
%%sparksql 
select property_type, count(*) As AvgProperty from airbnb_tmp_view group by property_type

#### A Query to get the DIstinct types of beds available

In [ ]:
%%sparksql 
select DISTINCT(beds) from airbnb_tmp_view

#### A query to get the price of rooms by grouping by property type

In [ ]:
%%sparksql 
select property_type, sum(price) As AvgProperty from airbnb_tmp_view group by property_type

#### Creating the separte database only for property type of entire rental unit

In [ ]:
df_unique_propertytype=airbnb_df_spark.filter("property_type=='Entire rental unit'")

#### Creating temporary view for created dataframe of entire rental unit property type

In [ ]:
df_unique_propertytype.createOrReplaceTempView("airbnb_tmp_view_enterroom")

In [ ]:
airbnb_dw=spark.sql("show tables").show()

#### Query for getting the count of data in that created dataframe

In [ ]:
%%sparksql 
select Count(*) from airbnb_tmp_view_enterroom

In [ ]:
%%sparksql 
select DISTINCT(beds) from airbnb_tmp_view_enterroom

##### From the above results, we can say that these are the distinct beds available in the property type of "entire rent value"

In [ ]:
#spark.stop()