# ISM6562 Final Exam - Programming Portion - Spring 2023

In this programming portion of the exam, you will use PySpark to analyze a dataset. The dataset is provided in the file `transactions.csv`. The dataset contains transaction information for each sale at a given company.

Instructions:
 1. Rename this file to include your name. For example, if your name is John Smith, rename this file to "John_Smith.ipynb"
 2. Complete the programming portion of the exam below.
    1. There are 4 sections (7 questions in total).
    2. Notice the time estimate provided for each section. You should use this as a guide to help you manage your time.
 3. Submit your completed Jupyter Notebook file to Canvas along with the data your analyzed.

The code you write should be well documented and easy to read. You should use comments to explain your code. 

The code required to complete this exam is very similar to the example PySpark code provided in the course. You can refer to this code as well as your own code stored on your computer or in your github repo.

**IMPORTANT***: You can use Jupyter Notebook, Jupyter Lab, or VS Code. Though you can also use VS Code. You must not have CodePilot, ChatGP, or any other plugins/software that provides code suggestions or auto-completion. You must write all of the code yourself.

**IMPORTANT: You should not share your exam with anyone else. Doing so will be considered a violation of the USF Academic Misconduct Policy.**

Good luck!

Start The Spark section

In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession;

spark = SparkSession.builder.master("local[4]").appName("ISM6562 Spark App01").enableHiveSupport().getOrCreate();

# Let's get the SparkContext object. It's the entry point to the Spark API. It's created when you create a sparksession
sc = spark.sparkContext  

# note: If you have multiple spark sessions running (like from a previous notebook you've run), 
# this spark session webUI will be on a different port than the default (4040). One way to 
# identify this part is with the following line. If there was only one spark session running, 
# this will be 4040. If it's higher, it means there are still other spark sesssions still running.
spark_session_port = spark.sparkContext.uiWebUrl.split(":")[-1]
print("Spark Session WebUI Port: " + spark_session_port)

# It's best if you find that the port number displayed below is not 4040, then you should shut down all other spark sessions and 
# run this code again. If you don't, you may have trouble accessing the data in the spark-warehouse directory.

Spark Session WebUI Port: 4040

In [2]:
spark

In [3]:
# this will set the log level to ERROR. This will hide the INFO or WARNING messages that are printed out by default. If you want to see them, set this to INFO or WARN.
sc.setLogLevel("ERROR")

## 1.0 Load data - 0.5 pts (estimated time <5 minutes)

Load the data you have been given (see question in canvas) into a pyspark dataframe.

In [4]:
# insert code here
trans_df=spark.read.csv(r"C:\Users\rmura\BigData\week 8\transactions.csv",header=True, inferSchema=True)
trans_df.show()

+--------------------+----------+--------+-----------+-----------+----------+---------+--------------------+--------------+-----+--------------------+----------------+--------------------+--------------------+----------+--------+
|      transaction_id|      date|    time|day_of_week|customer_id|first_name|last_name|               email|         state|  zip|              street|            city|               phone|             product|sale_price|returned|
+--------------------+----------+--------+-----------+-----------+----------+---------+--------------------+--------------+-----+--------------------+----------------+--------------------+--------------------+----------+--------+
|294e63f6-c6d3-439...|2018-07-27|05:13:37|     Friday|      19710|    Amanda|    Weber|brichardson@examp...|          Iowa|62736|     292 Jones Hills|    South Joseph|  (497)740-6101x1146|Total grid-enable...|     61.18|   false|
|46882d27-7d12-4e1...|2021-09-11|13:57:48|   Saturday|      31066| Frederick|     Hart|coxjessica@exampl...|       Wyoming| 3254|    76490 White Cove|     Charlesfort|          1396078600|Networked fault-t...|     137.2|    true|
|3dbccb99-55a3-458...|2020-05-18|03:27:06|     Monday|      73764|      Ryan|   Walker|brendalee@example...|        Hawaii|47677|1990 Taylor Under...|       Bethville|    204.484.5016x460|Intuitive executi...|     30.38|   false|
|f2dcd898-8864-485...|2021-04-26|03:09:05|     Monday|      53467|     Vicki|   Cannon|michaeljames@exam...|      Kentucky|33860|  06621 Calvin River| North Jeffshire| +1-558-882-5826x627|Vision-oriented r...|    135.03|    true|
|8cb93755-e5c9-4c5...|2021-07-02|16:20:29|     Friday|      89845|     Jason|      Cox|lawrencescott@exa...|        Oregon| 5635| 5594 Richard Square|     Powellhaven|001-545-820-1574x...|Advanced bottom-l...|     75.12|    true|
|ae647309-a4e9-494...|2020-01-31|05:48:54|     Friday|      90972|     Sarah|   Walker|  tmason@example.net|       Arizona|63936|54950 Edward Way ...|    Jonesborough|   (542)447-7229x779|Right-sized eco-c...|     85.27|    true|
|fa92bf78-9656-45e...|2021-03-29|13:56:05|     Monday|      83900|  Victoria|    Miles|leonardkimberly@e...|          Ohio|52187|   152 Powell Tunnel|      New Lauren|  781.166.3409x17172|Persevering optim...|    125.26|    true|
|4f47dbb8-04d5-403...|2021-05-12|21:20:46|  Wednesday|      18350|     Anita|    Henry|downsvincent@exam...|    Washington|40557|60022 Levine Fort...| East Thomasberg|       (001)512-3082|Diverse solution-...|     87.94|    true|
|4cb4e738-040c-4eb...|2021-09-09|04:31:44|   Thursday|      68457|      Mike|   Thomas|wilsonkaren@examp...|       Arizona|47916|91435 Williams Burgs|     New Timothy|   961-929-9256x6112|Total human-resou...|     49.69|   false|
|b21c443d-a75a-493...|2021-11-27|21:17:51|   Saturday|      12497|      Mark|    Baker| james26@example.net|    Washington|59217|   152 Timothy Manor|     Chelseyport|     +1-620-103-6587|Open-source 4thge...|    108.09|    true|
|a739cc6f-0fd8-40a...|2022-02-01|16:56:59|    Tuesday|      73193|     Amber|   Lawson|hickmanphilip@exa...| New Hampshire|93791|806 Washington Fl...|       Perryside|   277.318.5068x0951|Programmable well...|    116.28|    true|
|fea6db1c-605d-4bc...|2019-06-11|20:47:58|    Tuesday|      48831|   Timothy|   Taylor|alexis08@example.net|       Arizona|50984|7285 Vazquez Hill...|     Erikchester|        185.933.8585|Integrated intang...|     44.14|   false|
|66191774-eba0-4f8...|2020-04-09|09:41:29|   Thursday|      16422|      Jose|  Jackson| xwalton@example.net|     Tennessee|17854|64520 Vasquez Fal...|     Brandihaven|   (103)008-7850x009|Upgradable full-r...|    106.72|    true|
|06e806e6-ed1a-48d...|2019-03-31|04:15:27|     Sunday|      73193|     Amber|   Lawson|hickmanphilip@exa...| New Hampshire|93791|806 Washington Fl...|       Perryside|   277.318.5068x0951|Fully-configurabl...|     96.95|    true|
|31b4fca0-fe85-4db...|2021-04-24|14:38:13|   Saturday|      21316|     Glenn|   Austin|robert20@example.org|       Florida| 4690|896 William Overpass|      Port Jamie|  877-669-8152x21743|Quality-focused h...|     55.44|   false|
|51dbffdb-d46e-40e...|2020-04-04|04:24:48|   Saturday|      31264|   Matthew|   Hoover|edwardsjuan@examp...|         Idaho|73316| 49957 Shaffer Flats|  New Gloriafurt|    941-618-3233x522|Multi-tiered tang...|    103.36|    true|
|0a3a7533-a7e9-41b...|2022-05-28|18:25:59|   Saturday|      83482|    Lauren|  Chapman|hinesbrian@exampl...|        Hawaii|26629|3457 Melanie Hill...|     Charlesbury|001-618-995-4759x802|Inverse 4thgenera...|     44.47|   false|
|c9db60f9-5fb5-408...|2023-01-14|14:57:39|   Saturday|      76201|     Robin|    Roman|mitchellsusan@exa...|  Pennsylvania|98541|   0271 Heidi Estate|       North Amy|   222-487-3092x8297|Progressive terti...|     72.12|    true|
|97d14123-fe01-46f...|2019-07-11|05:04:41|   Thursday|      65169|    Morgan|     Long|gillzachary@examp...|        Alaska|17514|78383 Johnson Cen...|East Richardtown|        105-291-7370|Self-enabling enc...|    100.42|    true|
|e6163b8b-0365-41c...|2021-05-07|12:36:16|     Friday|      35707|    Carrie|    Salas|schultzkatrina@ex...|North Carolina|81980|88966 Taylor Lock...| West Curtisstad|       (530)536-7453|Integrated multim...|     20.11|   false|
+--------------------+----------+--------+-----------+-----------+----------+---------+--------------------+--------------+-----+--------------------+----------------+--------------------+--------------------+----------+--------+
only showing top 20 rows

In [5]:
trans_df.printSchema()

root
 |-- transaction_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: integer (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- product: string (nullable = true)
 |-- sale_price: double (nullable = true)
 |-- returned: boolean (nullable = true)

## 2.0 Transform Data - total 1 pts (estimated time <10 minutes)

Conduct any data tramsformations necessary (i.e. data cleaning, data type conversions, etc.)

In [6]:
from pyspark.sql.functions import datediff,date_format,to_date,to_timestamp
import pyspark.sql.functions as f
spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY")
 
# insert code here
trans_df=trans_df.withColumn('date',to_date(trans_df.transaction_id, 'dd/MM/yyyy'))

In [7]:
trans_df.createOrReplaceTempView("trans_tempView")

In [8]:
tables=spark.sql("show tables").show()

+---------+--------------+-----------+
|namespace|     tableName|isTemporary|
+---------+--------------+-----------+
|         |trans_tempview|       true|
+---------+--------------+-----------+

## 3.0 Explore Data - total 3 pts (estimated time <15 minutes)

### 3.1 What day of the week has the highest number of sales? (1.5 pts)

In [9]:
%load_ext sparksql_magic

In [10]:

%%sparksql
select  * from trans_tempview limit 2

In [11]:
dg=trans_df.sort("sale_price",ascending=False).show(1)

+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+------------+-----+--------------------+-----------------+-------------------+--------------------+----------+--------+
|      transaction_id|date|    time|day_of_week|customer_id|first_name|last_name|               email|       state|  zip|              street|             city|              phone|             product|sale_price|returned|
+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+------------+-----+--------------------+-----------------+-------------------+--------------------+----------+--------+
|922efe47-36e0-49e...|null|12:19:02|    Tuesday|      40999| Stephanie|    Combs|spearstammy@examp...|South Dakota|28110|56764 Joshua Village|South Dawnchester|+1-673-405-4676x100|Switchable optimi...|    147.83|    true|
+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+------------+-----+--------------------+-----------------+-------------------+--------------------+----------+--------+
only showing top 1 row

we got high sales from table in week of Tuesady

### 3.2 Which state has the highest total dollar value of sales? (1.5 pts)

In [12]:
# insert code here
trans_df.groupBy('state',)
spark.sql(" select sum(sale_price) as total_price,state from trans_tempview group by state order by total_price desc limit 5").show(1)

+------------------+-------+
|       total_price|  state|
+------------------+-------+
|4067.4700000000007|Arizona|
+------------------+-------+
only showing top 1 row

we got arizon as highest total dollars

## 4.0 Model the data - 5.5 total pts (estimated time <30 minutes)

### 4.1 Develop Predictive Model (2.5 pts)

Develop a predictive model that will predict if a sale will result in a return. The input variables/features for this model are sale price, discount, and day of week. Split your data into a train/test split of .7/.3

In [13]:
# insert code here
train_data,test_data=trans_df.randomSplit([0.7,0.3])
train_data.show(3)

+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+--------+-----+--------------------+------------+------------------+--------------------+----------+--------+
|      transaction_id|date|    time|day_of_week|customer_id|first_name|last_name|               email|   state|  zip|              street|        city|             phone|             product|sale_price|returned|
+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+--------+-----+--------------------+------------+------------------+--------------------+----------+--------+
|0070e01b-0d75-4f6...|null|18:27:52|     Monday|      23312|   Michael|    Evans|  troy48@example.org|Illinois|34660|45501 Robert Caus...|Lake Anntown| 878-741-7795x9438|Sharable content-...|     89.67|    true|
|00d35181-cf15-402...|null|10:40:02|  Wednesday|      98465|     Brian|   Larson|darrenbenton@exam...|    Iowa|69243|8628 Butler Park ...|  Port Megan|(165)459-4732x6261|Persistent attitu...|     33.14|   false|
|00f18192-3d29-42a...|null|06:12:25|     Sunday|      89357|    Philip|     Bell|hernandeztimothy@...|Michigan|14201| 5545 Michael Plains| Thomasmouth|      528.207.6048|Pre-emptive backg...|     101.3|    true|
+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+--------+-----+--------------------+------------+------------------+--------------------+----------+--------+
only showing top 3 rows

In [14]:
train_data.select

<bound method DataFrame.select of DataFrame[transaction_id: string, date: date, time: string, day_of_week: string, customer_id: int, first_name: string, last_name: string, email: string, state: string, zip: int, street: string, city: string, phone: string, product: string, sale_price: double, returned: boolean]>

In [15]:
dfg=train_data.select(['day_of_week','sale_price'])
dfg.show(3)

+-----------+----------+
|day_of_week|sale_price|
+-----------+----------+
|     Monday|     89.67|
|  Wednesday|     33.14|
|     Sunday|     101.3|
+-----------+----------+
only showing top 3 rows

In [16]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer

In [17]:
day_of_week_4 = StringIndexer(inputCol='day_of_week',outputCol='day_of_week_3',handleInvalid='keep')

In [18]:
from pyspark.ml.feature import VectorAssembler
# Vector assembler is used to create a vector of input features
 
assembler = VectorAssembler(
    inputCols=[
        "day_of_week_3"
    ],
    outputCol="features"
)

In [19]:
pipe = Pipeline(stages=[
    day_of_week_4,
    assembler
    ]
    
)

In [20]:
fitted_pipe=pipe.fit(train_data)

In [21]:
train_data=fitted_pipe.transform(train_data)
train_data.show()

+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+-------------+-----+--------------------+---------------+--------------------+--------------------+----------+--------+-------------+--------+
|      transaction_id|date|    time|day_of_week|customer_id|first_name|last_name|               email|        state|  zip|              street|           city|               phone|             product|sale_price|returned|day_of_week_3|features|
+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+-------------+-----+--------------------+---------------+--------------------+--------------------+----------+--------+-------------+--------+
|0070e01b-0d75-4f6...|null|18:27:52|     Monday|      23312|   Michael|    Evans|  troy48@example.org|     Illinois|34660|45501 Robert Caus...|   Lake Anntown|   878-741-7795x9438|Sharable content-...|     89.67|    true|          0.0|   [0.0]|
|00d35181-cf15-402...|null|10:40:02|  Wednesday|      98465|     Brian|   Larson|darrenbenton@exam...|         Iowa|69243|8628 Butler Park ...|     Port Megan|  (165)459-4732x6261|Persistent attitu...|     33.14|   false|          3.0|   [3.0]|
|00f18192-3d29-42a...|null|06:12:25|     Sunday|      89357|    Philip|     Bell|hernandeztimothy@...|     Michigan|14201| 5545 Michael Plains|    Thomasmouth|        528.207.6048|Pre-emptive backg...|     101.3|    true|          1.0|   [1.0]|
|0128b706-db33-44a...|null|14:26:33|     Friday|      83900|  Victoria|    Miles|leonardkimberly@e...|         Ohio|52187|   152 Powell Tunnel|     New Lauren|  781.166.3409x17172|Digitized actuati...|     126.4|    true|          2.0|   [2.0]|
|01854f8c-3067-4c1...|null|11:35:14|    Tuesday|      88640|   Theresa|   Brooks|michellehernandez...|Massachusetts|98298|001 Baker Circle ...|   Stoneborough|+1-954-509-9631x6187|Sharable zero tol...|    125.19|    true|          5.0|   [5.0]|
|022d0bf3-85fa-417...|null|07:36:53|     Friday|      15337| Gabrielle|     Wong|millerkatherine@e...|         Utah|41287|6535 Laura Dam Ap...|       Mariaton|    001-620-251-6597|Streamlined dedic...|      87.3|    true|          2.0|   [2.0]|
|02f963de-e4f8-4c7...|null|02:23:34|   Saturday|      26868|      Mark|   Little|allison90@example...|      Montana|68186|61687 Gordon Plai...|Lake Douglaston|        616.548.6231|Decentralized enc...|    106.47|    true|          6.0|   [6.0]|
|037659ae-f7fa-45b...|null|00:59:51|    Tuesday|      21316|     Glenn|   Austin|robert20@example.org|      Florida| 4690|896 William Overpass|     Port Jamie|  877-669-8152x21743|Optimized tertiar...|     70.04|   false|          5.0|   [5.0]|
|037a2460-50b4-438...|null|02:04:02|  Wednesday|      17002|     Tracy|    Davis|anthony48@example...|      Arizona|23256|   79682 Robert View|   Barbaraburgh|        351-192-6775|Mandatory maximiz...|     13.28|   false|          3.0|   [3.0]|
|039ec0cc-5b9a-450...|null|04:13:20|     Sunday|      98465|     Brian|   Larson|darrenbenton@exam...|         Iowa|69243|8628 Butler Park ...|     Port Megan|  (165)459-4732x6261|Monitored disinte...|     77.58|    true|          1.0|   [1.0]|
|03c53f7d-39e6-407...|null|03:25:56|     Monday|      78693|  Kimberly|   Hansen| mandy63@example.net|       Alaska|58357|591 King Brook Su...|       Ballview|        204.992.5162|Ergonomic respons...|     102.3|    true|          0.0|   [0.0]|
|04897428-dba1-482...|null|09:33:40|    Tuesday|      25399|  Danielle|  Pearson|jstrickland@examp...|         Utah|99315|3415 Robert Junction| New Howardtown|+1-812-907-5484x7...|Programmable well...|     84.22|    true|          5.0|   [5.0]|
|04cfca45-7378-415...|null|22:43:39|   Thursday|      24937|   Abigail|    Smith|stephenkramer@exa...|     Maryland|80180|3446 Justin Coves...| East Elizabeth|        015.591.5145|Robust human-reso...|     86.58|    true|          4.0|   [4.0]|
|04e05bcd-c95d-4bc...|null|13:42:11|   Thursday|      90347|     David|    Garza|velazquezbrenda@e...|     New York|74643|150 Samantha Moun...|North Scotttown|     +1-253-991-5764|Sharable web-enab...|     73.63|    true|          4.0|   [4.0]|
|04f61d01-727c-410...|null|17:18:44|     Friday|      63273|      Ryan|    Baker|andersonjeremy@ex...|     New York|32960| 6186 Lindsey Stream| Stephaniemouth|        348-089-0465|Open-architected ...|     40.15|   false|          2.0|   [2.0]|
|058baf2f-bf58-477...|null|15:20:57|     Monday|      11632|    Nathan|   Martin| amber68@example.com|    Louisiana|13497|6243 Ryan Extensions|New Cherylshire|        361.433.1535|Total non-volatil...|     15.83|   false|          0.0|   [0.0]|
|05ca947d-fc4a-43c...|null|16:44:05|    Tuesday|      68882|    Sharon|     Cruz|justinreese@examp...|      Alabama|10596|6556 Alexander Cliff|     Weaverfort| +1-403-963-8396x928|Innovative system...|     86.05|    true|          5.0|   [5.0]|
|05f29de4-4b62-42f...|null|14:01:49|     Monday|      83900|  Victoria|    Miles|leonardkimberly@e...|         Ohio|52187|   152 Powell Tunnel|     New Lauren|  781.166.3409x17172|Adaptive neutral ...|     39.95|   false|          0.0|   [0.0]|
|060c3b5c-7c68-4e4...|null|16:26:59|   Saturday|      47865|     Kelly|   Wright|melissajennings@e...|    Minnesota|85863|467 Wyatt Station...|     South Anna|        859.200.1146|Phased clear-thin...|     60.28|   false|          6.0|   [6.0]|
|06132007-2e45-415...|null|07:45:28|     Sunday|      16422|      Jose|  Jackson| xwalton@example.net|    Tennessee|17854|64520 Vasquez Fal...|    Brandihaven|   (103)008-7850x009|Distributed recip...|     38.19|   false|          1.0|   [1.0]|
+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+-------------+-----+--------------------+---------------+--------------------+--------------------+----------+--------+-------------+--------+
only showing top 20 rows

In [22]:
from pyspark.ml.regression import LinearRegression

lr_model = LinearRegression(labelCol="sale_price")
fit_model = lr_model.fit(train_data.select(['features','sale_price']))

In [23]:
results = fit_model.transform(train_data)
results.show()

+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+-------------+-----+--------------------+---------------+--------------------+--------------------+----------+--------+-------------+--------+-----------------+
|      transaction_id|date|    time|day_of_week|customer_id|first_name|last_name|               email|        state|  zip|              street|           city|               phone|             product|sale_price|returned|day_of_week_3|features|       prediction|
+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+-------------+-----+--------------------+---------------+--------------------+--------------------+----------+--------+-------------+--------+-----------------+
|0070e01b-0d75-4f6...|null|18:27:52|     Monday|      23312|   Michael|    Evans|  troy48@example.org|     Illinois|34660|45501 Robert Caus...|   Lake Anntown|   878-741-7795x9438|Sharable content-...|     89.67|    true|          0.0|   [0.0]|68.75988325686536|
|00d35181-cf15-402...|null|10:40:02|  Wednesday|      98465|     Brian|   Larson|darrenbenton@exam...|         Iowa|69243|8628 Butler Park ...|     Port Megan|  (165)459-4732x6261|Persistent attitu...|     33.14|   false|          3.0|   [3.0]|69.77259156079485|
|00f18192-3d29-42a...|null|06:12:25|     Sunday|      89357|    Philip|     Bell|hernandeztimothy@...|     Michigan|14201| 5545 Michael Plains|    Thomasmouth|        528.207.6048|Pre-emptive backg...|     101.3|    true|          1.0|   [1.0]|69.09745269150852|
|0128b706-db33-44a...|null|14:26:33|     Friday|      83900|  Victoria|    Miles|leonardkimberly@e...|         Ohio|52187|   152 Powell Tunnel|     New Lauren|  781.166.3409x17172|Digitized actuati...|     126.4|    true|          2.0|   [2.0]|69.43502212615168|
|01854f8c-3067-4c1...|null|11:35:14|    Tuesday|      88640|   Theresa|   Brooks|michellehernandez...|Massachusetts|98298|001 Baker Circle ...|   Stoneborough|+1-954-509-9631x6187|Sharable zero tol...|    125.19|    true|          5.0|   [5.0]|70.44773043008117|
|022d0bf3-85fa-417...|null|07:36:53|     Friday|      15337| Gabrielle|     Wong|millerkatherine@e...|         Utah|41287|6535 Laura Dam Ap...|       Mariaton|    001-620-251-6597|Streamlined dedic...|      87.3|    true|          2.0|   [2.0]|69.43502212615168|
|02f963de-e4f8-4c7...|null|02:23:34|   Saturday|      26868|      Mark|   Little|allison90@example...|      Montana|68186|61687 Gordon Plai...|Lake Douglaston|        616.548.6231|Decentralized enc...|    106.47|    true|          6.0|   [6.0]|70.78529986472432|
|037659ae-f7fa-45b...|null|00:59:51|    Tuesday|      21316|     Glenn|   Austin|robert20@example.org|      Florida| 4690|896 William Overpass|     Port Jamie|  877-669-8152x21743|Optimized tertiar...|     70.04|   false|          5.0|   [5.0]|70.44773043008117|
|037a2460-50b4-438...|null|02:04:02|  Wednesday|      17002|     Tracy|    Davis|anthony48@example...|      Arizona|23256|   79682 Robert View|   Barbaraburgh|        351-192-6775|Mandatory maximiz...|     13.28|   false|          3.0|   [3.0]|69.77259156079485|
|039ec0cc-5b9a-450...|null|04:13:20|     Sunday|      98465|     Brian|   Larson|darrenbenton@exam...|         Iowa|69243|8628 Butler Park ...|     Port Megan|  (165)459-4732x6261|Monitored disinte...|     77.58|    true|          1.0|   [1.0]|69.09745269150852|
|03c53f7d-39e6-407...|null|03:25:56|     Monday|      78693|  Kimberly|   Hansen| mandy63@example.net|       Alaska|58357|591 King Brook Su...|       Ballview|        204.992.5162|Ergonomic respons...|     102.3|    true|          0.0|   [0.0]|68.75988325686536|
|04897428-dba1-482...|null|09:33:40|    Tuesday|      25399|  Danielle|  Pearson|jstrickland@examp...|         Utah|99315|3415 Robert Junction| New Howardtown|+1-812-907-5484x7...|Programmable well...|     84.22|    true|          5.0|   [5.0]|70.44773043008117|
|04cfca45-7378-415...|null|22:43:39|   Thursday|      24937|   Abigail|    Smith|stephenkramer@exa...|     Maryland|80180|3446 Justin Coves...| East Elizabeth|        015.591.5145|Robust human-reso...|     86.58|    true|          4.0|   [4.0]|70.11016099543801|
|04e05bcd-c95d-4bc...|null|13:42:11|   Thursday|      90347|     David|    Garza|velazquezbrenda@e...|     New York|74643|150 Samantha Moun...|North Scotttown|     +1-253-991-5764|Sharable web-enab...|     73.63|    true|          4.0|   [4.0]|70.11016099543801|
|04f61d01-727c-410...|null|17:18:44|     Friday|      63273|      Ryan|    Baker|andersonjeremy@ex...|     New York|32960| 6186 Lindsey Stream| Stephaniemouth|        348-089-0465|Open-architected ...|     40.15|   false|          2.0|   [2.0]|69.43502212615168|
|058baf2f-bf58-477...|null|15:20:57|     Monday|      11632|    Nathan|   Martin| amber68@example.com|    Louisiana|13497|6243 Ryan Extensions|New Cherylshire|        361.433.1535|Total non-volatil...|     15.83|   false|          0.0|   [0.0]|68.75988325686536|
|05ca947d-fc4a-43c...|null|16:44:05|    Tuesday|      68882|    Sharon|     Cruz|justinreese@examp...|      Alabama|10596|6556 Alexander Cliff|     Weaverfort| +1-403-963-8396x928|Innovative system...|     86.05|    true|          5.0|   [5.0]|70.44773043008117|
|05f29de4-4b62-42f...|null|14:01:49|     Monday|      83900|  Victoria|    Miles|leonardkimberly@e...|         Ohio|52187|   152 Powell Tunnel|     New Lauren|  781.166.3409x17172|Adaptive neutral ...|     39.95|   false|          0.0|   [0.0]|68.75988325686536|
|060c3b5c-7c68-4e4...|null|16:26:59|   Saturday|      47865|     Kelly|   Wright|melissajennings@e...|    Minnesota|85863|467 Wyatt Station...|     South Anna|        859.200.1146|Phased clear-thin...|     60.28|   false|          6.0|   [6.0]|70.78529986472432|
|06132007-2e45-415...|null|07:45:28|     Sunday|      16422|      Jose|  Jackson| xwalton@example.net|    Tennessee|17854|64520 Vasquez Fal...|    Brandihaven|   (103)008-7850x009|Distributed recip...|     38.19|   false|          1.0|   [1.0]|69.09745269150852|
+--------------------+----+--------+-----------+-----------+----------+---------+--------------------+-------------+-----+--------------------+---------------+--------------------+--------------------+----------+--------+-------------+--------+-----------------+
only showing top 20 rows

### 4.2 Evaluate Predictive Model (1.5 pts)

Evaluate the model using a test data set.

In [27]:
test_d = fit_model.transform(test_data)
test_d.show()

IllegalArgumentException: features does not exist. Available: transaction_id, date, time, day_of_week, customer_id, first_name, last_name, email, state, zip, street, city, phone, product, sale_price, returned

In [26]:
test_results = fit_model.evaluate(test_data)

IllegalArgumentException: features does not exist. Available: transaction_id, date, time, day_of_week, customer_id, first_name, last_name, email, state, zip, street, city, phone, product, sale_price, returned

In [ ]:
test_results.residuals.show()

In [ ]:
print(f"{'RMSE:':7s} {test_results.rootMeanSquaredError:>7.3f}")
print(f"{'Ex Var:':7s} {test_results.explainedVariance:>7.3f}")
print(f"{'MAE:':7s} {test_results.meanAbsoluteError:>7.3f}")
print(f"{'MSE:':7s} {test_results.meanSquaredError:>7.3f}")
print(f"{'RMSE:':7s} {test_results.rootMeanSquaredError:>7.3f}")
print(f"{'R2:':7s} {test_results.r2:>7.3f}")

### 4.2 Prediction (1.5 pts)

Use the model you developed to predict if the following sales will result in a return:

| Sales Price | Discount | Day of Week |
|-------------|----------|-------------|
| 100         | 0.0      | 1           |
| 200         | 0.1      | 2           |
| 300         | 0.1      | 3           |
| 400         | 0.3      | 4           |
| 500         | 0.2      | 5           |

In [ ]:
# Insert Code Here
import pandas as pd

df=pd.DataFrame()

In [ ]:
spark.stop()

# Analaysis

- First we download the data nd read the data using pyspark 
- after reading the data we need to check the data properties
- and run required quires based on requirmnet 
- vector assemle and piplein ethe data