## Muralidhar (U 6454 6777)

### Import required packages to connect and handle the MongoDB

In [1]:
import  pymongo # pymongo is package to interact with mongoDB through python interface
import credentials1 # credential1 is python file stores the mongo db related information
import json # JavaScript Object Notation
import bson # Binary Javascript Object Notation

### connect to MongoDB

In [2]:
Connection_String=f"mongodb+srv://{credentials1.username}:{credentials1.password}@bigdatapython.vfhmrbt.mongodb.net/test"
cilent = pymongo.MongoClient(Connection_String)# its conected to cluster
db=cilent['bigDataMongoDb']

### Big data class github repository take csv data and changin to json

### Csv file we need to change to json by using pandas.to_json (orientation='records')
- Data set say about seller & bidder tansaction how much weight buy or selled how much left over data

In [16]:
import pandas as pd

# df=pd.read_csv('https://raw.githubusercontent.com/prof-tcsmith/ism6562-public/main/data/eBayNetwork.csv',error_bad_lines=False)
df=pd.read_csv('https://raw.githubusercontent.com/prof-tcsmith/ism6562-public/main/data/world_population.csv',sep=',',error_bad_lines=False,skiprows=4 )
df.head()

/tmp/ipykernel_2627/2811946857.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df=pd.read_csv('https://raw.githubusercontent.com/prof-tcsmith/ism6562-public/main/data/world_population.csv',sep=',',error_bad_lines=False,skiprows=4 )

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,107195.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,694665117.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,39835428.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,470898870.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,33933611.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            265 non-null    float64
 35  1991            265 non-null    float64
 36  1992            264 non-null    float64
 37  1993            264 non-null    float64
 38  1994            264 non-null    float64
 39  1995            265 non-null    float64
 40  1996            265 non-null    float64
 41  1997            265 non-null    float64
 42  1998            265 non-null    float64
 43  1999            265 non-null    float64
 44  2000            265 non-null    float64
 45  2001            265 non-null    float64
 46  2002            265 non-null    float64
 47  2003            265 non-null    float64
 48  2004            265 non-null    float64
 49  2005            265 non-null    float64
 50  2006            265 non-null    float64
 51  2007            265 non-null    float64
 52  2008            265 non-null    float64
 53  2009            265 non-null    float64
 54  2010            265 non-null    float64
 55  2011            265 non-null    float64
 56  2012            264 non-null    float64
 57  2013            264 non-null    float64
 58  2014            264 non-null    float64
 59  2015            264 non-null    float64
 60  2016            264 non-null    float64
 61  2017            264 non-null    float64
 62  2018            264 non-null    float64
 63  2019            264 non-null    float64
 64  2020            264 non-null    float64
 65  2021            264 non-null    float64
dtypes: float64(62), object(4)
memory usage: 137.3+ KB

In [21]:
### change to dataframe to json 
df.to_json('worldPopulation.json',orient='records')

In [22]:
#
worldPopulation_json=json.load(open('worldPopulation.json', ))

In [24]:
#print(worldPopulation_json)

### load json to mongodb using insert many

In [20]:
worldPopulationCollection = db['worldPopulation'] # it create the world population collection 
worldPopulationinsert=worldPopulationCollection.insert_many(worldPopulation_json)
worldPopulationinsert

## take average of spefic country code  in 2021 by using aggregate

In [32]:

averages_worldPop = worldPopulationCollection.aggregate( [
    {
        '$group': {
            '_id': '$Country Code', 
            'avg_2021': {
                '$avg': '$2021'
            }
        }
    }, {
        '$sort': {
            'avg_2021': -1
        }
    }
])

In [ ]:
# list(averages_worldPop)

In [34]:
import bson.json_util as bju

fin = open("output_worldPopu.json", "w")
fin.write(bju.dumps(list(averages), indent=2))
fin.close()

### Analysis
- Loaded data from bigdata github worldpopulation csv file using read_csv with spefic parameters
- check the dataframe and data types
- requirments is need to upload json data file into mongodb 
- we need to change dataframe to json using to_json orientation =record
- after data saved to json. we need to load json file to mongodb
- create collection and dump the json dat into mongodb using insert_many()
- check the data loadded into mongodb using compass or mongodb cloud 
- use aggretate query on loaded data in mongodb 
- specifically get country code average of spefic year 2021 and apply sort 
- result or cursor we need to save into json